/* ****** Customr Properties ****** */
:root {
  --first-color: #15cdca;
  --second-color: #3e54d3;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #501464;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --bg-color: #15cdca2e;
  --text-links: #0e6361;
  --white-color: #fff;
  --gray-light-color: #ccded8;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --title-color: #333;
  --text-color: #222;
  --link-color: #1b3bf3;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/* ****** Reset ****** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

li {
  margin-bottom: 0.7rem;
}

code {
  padding: 0.125em 0.25em;
  background: #ecede1;
  border: 1px solid #b7b7b7;
  hyphens: none;
  tab-size: 2;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}

/* ****** Components ****** */

/* ****** Contact Form ****** */
.contact-form {
  margin: 2rem auto;
  padding: 1.5rem;
  max-width: 800px;
  border-radius: 1rem;
}

.data-form > * {
  padding: 0.5rem;
  display: block;
  width: 100%;
}

.data-form input,
.data-form textarea {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: var(--font);
}

.data-form input {
  border: thin solid var(--gray-dark-color);
}

.data-form textarea {
  border: thin solid var(--gray-dark-color);
  resize: none;
}

.data-form input:focus,
.data-form textarea:focus {
  border: transparent;
  outline: 0.3rem solid var(--first-color);
}

.data-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.data-form *::placeholder {
  color: var(--gray-dark-color);
}

.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--white-color);
}

.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-alpha-color);
}

.data-form input[type="submit"] {
  margin: 0;
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

.btn[type="submit"] {
  font-size: 16px;
  border: transparent;
  font-family: var(--font);
  transition: all 0.5s ease-out;
}

@media screen and (min-width: 768px) {
  .data-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .data-form input,
  .data-form textarea {
    font-size: 1rem;
  }

  .data-form textarea,
  .contact-form-loader {
    grid-column: span 2;
  }
}

/* ****** HeroImage ****** */
.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  color: var(--hero-text-color);
  font-size: 6vw;
  margin-bottom: 2rem;
}
/* ****** Menu ****** */
.menu-btn {
  outline: thin solid var(--first-color);
  border: 0;
  background-color: var(--second-color);
  cursor: pointer;
}

.menu-btn svg {
  fill: var(--first-color);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--second-color);
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    opacity: 1;
    pointer-events: auto;
    width: auto;
    flex-direction: row;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:hover {
    background-color: transparent;
  }

  .menu a:last-child {
    padding-right: 0;
  }
}

/* ***** Modal ***** */
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--black-alpha-color);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}

.modal[id|="trabajo"]:target {
  opacity: 1;
  pointer-events: auto;
}

/* ****** Utilities ****** */
.bg-gray-light {
  background-color: var(--gray-light-color);
}

.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.b-radius {
  border-radius: 0.5rem;
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1.5rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--first-color);
}

.btn:hover {
  background-color: var(--white-color);
  color: var(--second-color);
  outline: 0.3rem solid var(--second-color);
}

.container {
  row-gap: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.gray-scale {
  filter: grayscale(1);
  border-radius: 50%;
}

.none {
  display: none;
}

.section {
  padding: 2rem 1rem;
}

.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  color: var(--title-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 250px;
}

.section-title > p {
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }
}

/* ****** Site Styles ****** */
.about > .about-text {
  margin-bottom: 2rem;
  align-self: center;
}

.about-avatar {
  align-self: center;
  max-width: 23rem;
  margin: 0 auto;
}

.about-avatar img {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.contact-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  height: 23vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
}

.contact-card h3 {
  font-size: 0.85rem;
}

.contact-card > svg {
  width: 2rem;
  height: 2rem;
  fill: var(--second-color);
}

.contact-card > small {
  margin-top: -1rem;
}

.footer {
  margin-bottom: var(--header-height);
  padding: 0.5rem;
  text-align: center;
  color: var(--white-color);
  background-color: var(--second-color);
}

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
  background-color: var(--second-color);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--first-color);
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

.portfolio-card {
  position: relative;
  width: 90%;
  height: 35vh;
  margin: 0 auto;
  display: block;
  margin-bottom: 1.5rem;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.portfolio-card img:hover {
  transform: scale(1.1);
}

.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1rem;
  color: var(--second-color);
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.7s ease-in-out;
}

.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: none;
}

.portfolio-card-info > div {
  padding: 1rem;
  border: thick solid var(--second-color);
  width: 100%;
  height: 100%;
}

.portfolio-modal {
  background-color: var(--white-color);
  padding: 1rem;
  max-width: 400px;
  display: grid;
  row-gap: 1rem;
}

.portfolio-modal h3 {
  border-bottom: medium solid var(--first-color);
  padding: 0.5rem 0;
  margin: 1rem auto;
}

.portfolio-details {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-auto-rows: 2rem;
}

.portfolio-details h4 {
  color: var(--text-links);
}

.service-card {
  padding: 1rem;
}

.service-card h3 {
  color: var(--second-color);
  text-align: center;
}

.card-list {
  display: inline;
  list-style: none;
  margin-top: 1.25rem;
}

.social-media a {
  padding: 0 0.4rem;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-around;
    align-content: center;
  }

  .about-avatar {
    order: -1;
  }

  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .portfolio-container .section-title {
    grid-column: span 2;
  }

  .portfolio-modal {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    max-width: 800px;
  }

  .portfolio-info {
    margin-left: 1rem;
    align-self: center;
  }

  .skills {
    background-color: var(--bg-color);
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-evenly;
    align-content: center;
  }

  .skills-container .section-title {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1024px) {
  .about > .about-text {
    margin-right: 2rem;
  }

  .about-text p {
    font-size: 18px;
  }

  .contact-cards {
    grid-template-columns: repeat(4, 24%);
  }

  .footer {
    margin-bottom: 0;
  }

  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) - 0.5rem);
  }

  .portfolio-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio-container .section-title {
    grid-column: span 3;
  }
}
